.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #190e4f;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 4vmin 5vmin;
  color: #fffffc;
}

.navbar a:hover {
  background-color: #757780;
}
